In [2]:
my_iterable = [1,2,3]
for item_name in my_iterable:
    print(item_name)

1
2
3

In [6]:
mylist = [1,2,3,4,5,6,7,8,9,10]
for jelly in mylist:
    print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [7]:
for num in mylist:
    # check for even
    if num % 2 ==0:
        print(num)

2
4
6
8
10

In [13]:
for num in mylist:
    # check for odd
    if num % 2 == 0:
        print(num)
    else:
        print(f'Odd Number: {num}')

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [15]:
mylist = [1,2,3,4,5,6,7,8,9,10]
list_sum = 0
for num in mylist:
    list_sum = list_sum + num
    
print(list_sum)

55

In [19]:
mystring = 'Hello world'

for letter in mystring:
    print('cool!')

cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!
cool!

In [20]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

len(mylist)

4

In [21]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [27]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [29]:
d = {'K1':1,'K2':2,'K3':3}

for item in d:
    print(item)

K1
K2
K3