In [1]:
mylist = [1,2,3]

mylist.append(4)

mylist

[1, 2, 3, 4]

In [2]:
def say_hello(name='Name'):
    print('hello' +name)
    
say_hello('spark')

hellospark

In [3]:
def add(n1,n2):
    return n1+n2
result = add(100,200)
result

300

In [4]:
 st = 'Print only the letter that start with e in this sentence'
    
 st.split()

['Print',
 'only',
 'the',
 'letter',
 'that',
 'start',
 'with',
 'e',
 'in',
 'this',
 'sentence']

In [5]:
st = 'print only the words that starts with t in this sentence'

for word in st.split():
    if word[0] == 't':
        print(word)

the
that
t
this

In [6]:
#code in this cell
[x for x in range(1,51) if x%3 == 0]

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [7]:
st = 'print every word in this sentence that has an even number of letter'

for word in st.split():
    if len(word) % 2 == 0:
        print(word+ 'is even')

wordis even
inis even
thisis even
sentenceis even
thatis even
anis even
evenis even
numberis even
ofis even
letteris even

In [20]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [21]:
mylist

[0, 4, 16, 36, 64, 100]

In [18]:
mylist = [x for x in range(0,11) if x%2]

mylist

[1, 3, 5, 7, 9]

In [15]:
celcius = [0,10,20,34.5]

fahrenheit = [( (9/5)*temp + 32) for temp in celcius]

fahrenheit

[32.0, 50.0, 68.0, 94.1]