In [4]:
class desktop:
    
    def __init__(self):
        self.name = "Navin"
        self.age = 22
        
        
    def update(self):
        self.age = 20
        
    def compare(self,other):
        if self.age == other.age:
            return True
        else:
            return False

In [6]:
c1 = desktop()
c1.age = 30
c2 = desktop()

if c1.compare(c2):
    print("They are exact")
else:
    print("They are not exact")
    
print(c1.name)
print(c2.name)

They are not exact
Navin
Navin

In [7]:
class Bike:
    
    wheels = 4
    
    def __init__(self):
        self.mil = 10
        self.com = "NINJA"
        
        
c1 = Bike()
c2 = Bike()

c1.mil = 8

print(c1.com , c1.mil , c1.wheels)
print(c2.com , c2.mil , c2.wheels)

NINJA 8 4
NINJA 10 4

In [14]:
class Student:
    
    school = 'Helsinki'
    
    def __init__(self,m1,m2,m3):
        self.m1 = m1
        self.m2 = m2
        self.m3 = m3
        
    def avg(self):
        return (self.m1 + self.m2 + self.m3)/3
    def get_m1(self):
        return self.m1
    
    @classmethod
    def info(cls):
        return cls.school
    
s1 = Student(50,50,50)
s2 = Student(80,76,65)



print(s2.avg())
print(Student.info())

73.66666666666667
Helsinki

In [21]:
class Student:
    
    def __init__(self,name,rollno):
        self.name = name
        self.rollno = rollno
        self.lap = self.Laptop()
        
    def show(self):
        print(self.name,self.rollno)
        self.lap.show()
        
    class Laptop:
    
       def __init__(self):
           self.brand = 'ASUS'
           self.cpu = 'i5'
           self.ram = 8
        def show(self):
            print(self.brand,self.cpu,self.ram)
            
        
        
s1 = Student('Mitzy',2)
s2 = Student('Kitzy',4)


s1.show()


print(id(lap1))
print(id(lap2))

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 18)

In [22]:
class Student:
    
    def __init__(self,m1,m2):
        self.m1 = m1
        self.m2 = m2
        
    def __add__(self,other):
        m1 = self.m1 + other.m1
        m2 = self.m2 + other.m2
        s3 = Student(m1,m2)
        
        
        return s3
        
        
s1 = Student(50,65)
s2 = Student(90,45)

s3 = s1 + s2
print(s3.m1)

140

In [24]:
class HORSE():
    
    def __init__(self,breed):
        
        self.breed = breed
        
my_Horse = HORSE(breed='Lab')

type(my_Horse)

__main__.HORSE