In [12]:
class Hotel():
    
    Apartment = 'Building'
    
    def __init__(self,Class,name):
        
        
        self.Class = Class
        self.name = name
        
    def color(self):
        print("BLue!")
        
my_Hotel = Hotel('Lab','TAJ HOTEL')

type(my_Hotel)

__main__.Hotel

In [13]:
my_Hotel.name

'TAJ HOTEL'

In [14]:
my_Hotel.Apartment

'Building'

In [15]:
my_Hotel.color()

BLue!

In [21]:
class Circle():
    
    # CLASS OBJECT ATTRIBUTE
    pi = 3.14

def __init__(self,radius=1):
    
    self.radius = radius
    
    # METHOD
    def get_circumfrence(self):
        return self.radius * self.pi * 2

In [22]:
my_circle = Circle()

my_circle.pi

3.14

In [24]:
class Geographic():
    
    def __init__(self):
        print("NATURE CREATED")
        
mygeographic = Geographic()

NATURE CREATED

In [25]:
class Geographic():
    
    def __init__ (self):
        print("NATURE CREATED")
        
    def who_am_i(self):
        print("I am DAZZ")
        
    def eat (self):
        print("I am DATTH")

In [28]:
class Nature(Geographic):
    
    def __init__(self):
        Geographic.__init__(self)
        print("GEOGRAPHIC CREATED")
        
mygeographic = Geographic()

NATURE CREATED

In [30]:
mygeographic.who_am_i()

I am DAZZ

In [31]:
mygeographic.eat()

I am DATTH

In [43]:
class Book():
    
    def __init__(self,title,author,pages):
        
        self.title = title
        self.author = author
        self.pages = pages
        
    def __str__(self):
        return f"{self.title} by {self.author}"
        
b = Book('Python rocks','Jose',300)
print(b)

str(b)

Python rocks by Jose

'Python rocks by Jose'

In [35]:
class Ziraff():
    
    def __init__(self,mode):
        self.mode = mode
        
    def speak(self):
        return self.mode + "says WOAHHHA!"
    
folex = Ziraff("folex")

print(folex.speak())

folexsays WOAHHHA!

In [48]:
class Line:
    
    def __init__(self,coor1,coor2):
        pass
    def distance(self):
        pass
    def slope(self):
        pass
    
# Example output

coor1 = (3,2)
coor2 = (8,10)

li = Line(coor1,coor2)

In [ ]:
li.distance()

In [49]:
class Cylinder:
    
    def __init__ (self,height=1,radius=1):
        pass
    def volume(self):
        pass
    def surface_area(self):
        pass
    
#Example output
c = Cylinder(2,3)

c.volume()

In [50]:
class Line:
    
    def __init__(self,coor1,coor2):
        self.coor1 = coor1
        self.coor2 = coor2
        
    def __init__(self):
        
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        
        return ((x2-x1)**2 + (y2-y1)**2)**0.5
    
    def slope(self):
        
        x1,y1 = self.coor1
        x2,y2 = self.coor2
        
        return (y2-y1) / (x2-x1)

In [51]:
c1 = (4,5)
c2 = (8,10)

In [53]:
myline = Line(c1,c2)

myline.distance()

TypeError: Line.__init__() takes 1 positional argument but 3 were given

In [58]:
class Simple():
    
    def __init__(self,value):
        
        self.value = value
    def add_to_value(self,amount):
        
        self.value = self.value + amount
        print('We just added {} to your value'.format(amount))
        
        
myobj = Simple(450)

myobj.value

450

In [59]:
myobj.add_to_value(1000)
myobj.value

We just added 1000 to your value

1450

In [63]:
class Ticket():
    
    def __init__(self,tax):
        self.tax = tax
        
    def add_to_value(self,amount):
        self.tax = self.tax + amount
        print('We just added {} to your tax'.format(amount))
        
        
        
mytax =Ticket(1000)
mytax.add_to_value(500)

We just added 500 to your tax

In [64]:
mytax.tax

1500

In [89]:
class Bankaccount():
    
    def __init__(self,owner,balance=0):
        
        self.owner = owner
        self.balance = balance
        
    def deposit(self,dep_amt):
        
        self.balance = self.balance + dep_amt
        print(f"Added {dep_amt} to the balance")
        
    def withdrawal(self,wd_amt):
        
        if self.balance >= wd_amt:
            self.balance = self.balance - wd_amt
            print("Withdrawal accepted")
        else:
            print("Sorry not enough funds!")
            
    def st(self):
        return f"owner: {self.owner} \nBalance: {self.balance}"

In [90]:
a = Bankaccount("Mitz",1000)

In [91]:
a.owner

'Mitz'

In [92]:
a.balance

1000

In [94]:
print(a.st())

owner: Mitz
Balance: 1000

In [101]:
a.deposit(100)

Added 100 to the balance

In [102]:
#print(a.())

In [103]:
print(a.st())

owner: Mitz
Balance: 1100

In [108]:
a.withdrawal(1000)

Withdrawal accepted

In [109]:
a.balance

100

In [110]:
a.withdrawal(105)

Sorry not enough funds!

In [111]:
a.balance

100